.header__navbar {
    position: relative;
    height: 0;
    z-index: 1;
}

.header__navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1210px;
    height: 156px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.header__menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 53.5px;
    left: 40px;
    gap: 21px;
}

.header__menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 21px;
}

.menu-list__item-home,
.menu-list__item-product,
.menu-list__item-pricing,
.menu-list__item-about,
.menu-list__item-contact {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    height: 100%;
}

.menu-list__item-home {
    width: 63px;
}

.menu-list__item-product {
    width: 77px;
}

.menu-list__item-pricing {
    width: 71px;
}

.menu-list__item-about {
    width: 64px;
}

.menu-list__item-contact {
    width: 78px;
}

.menu__element-home,
.menu__element-product,
.menu__element-pricing,
.menu__element-about,
.menu__element-contact {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    height: 28px;
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px
}

.menu__element-home {
    width: 43px;
}

.menu__element-product {
    width: 57px;
}

.menu__element-pricing {
    width: 51px;
}

.menu__element-about {
    width: 44px;
}

.menu__element-contact {
    width: 58px;
}

.header__logo {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    gap: 24px;
    position: absolute;
    left: 482.5px;
    top: 39px;
}

.header__logo-link {
    padding: 10px;
    gap: 10px;
}

.header__social-container {
    position: absolute;
    left: 999.04px;
    top: 56.51px;
    gap: 44px;
}

.header__social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.social-list {
    gap: 24px;
}

.header-social__link-twitter {
    padding: 6.96px, 3.84px, 6.96px, 3.84px;
}

.header-social__link-facebook,
.header-social__link-linkedin {
    padding: 4.48px;
}